@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&family=Syne&family=Syne+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Syne", sans-serif;
  line-height: 1.4;
  background-color: #000;
  color: white;
}
/* global */

.text_primary {
  color: #a6a001;
}
.mg_b {
  margin-bottom: 20px;
}

.container {
  max-width: 1500px;
  margin: auto;
  padding: 0 30px;
}

/* Navbar */
#navbar {
  flex-shrink: 0;
  background: #1e1e1e;
  color: white;
  position: sticky;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar ul li a {
  color: #fff;
  padding: 1rem;
  margin: 0 0.25rem;
  text-decoration: none;
}
#navbar .navbar ul li a:hover {
  color: #a6a001;
  border-radius: 5px;
  cursor: pointer;
}
#navbar .navbar ul li a:active {
  color: #a6a1015b;
  border-radius: 5px;
  cursor: pointer;
}

/* home page */
#home {
  background: linear-gradient(to left, #a6a1011f, #000);
  color: white;
}
.home {
  display: flex;
  justify-content: space-between;
}

#home .container .full_stack {
  margin-top: 100px;
  max-width: 50%;
}
#home .container .full_stack .hey {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 50px;
}
#home .container .full_stack .elyse {
  margin-bottom: 50px;
  font-size: 60px;
}
#home .container .full_stack .full {
  margin-top: 50px;
  font-size: 35px;
}
#home .container .full_stack .knowledge {
  margin-top: 20px;
  font-size: 21px;
}
.img img {
  width: 500px;
  height: 600px;
}
/* about me */
#About_Me {
  /* box-shadow: 0 5px 15px #a6a1017c; */
  padding-bottom: 50px;
  background: linear-gradient(180deg, #a6a001 0%, rgba(0, 0, 0, 0) 6.5%);
}
.about-me {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.develop {
  width: 50%;
}
.Fullstack_developer {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  background: #1e1e1e;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  padding: 30px;
  font-size: 25px;
  margin-right: 150px;
  margin-bottom: 20px;
}
.mgT {
  margin-top: 130px;
  margin-bottom: 100px;
}
.Fullstack_developer a {
  color: #fff;
  margin-top: 20px;
}

.about {
  font-size: 40px;
  width: 50%;
}
.experienced {
  font-size: 30px;
  font-weight: 50;
  line-height: 30px;
  width: 600px;
  padding-top: 40px;
}
