@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&family=Syne&family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Syne", sans-serif;
  line-height: 1.4;
  background-color: #000;
  color: white;
}
/* global */

.text_primary {
  color: #a6a001;
}
.mg_b {
  margin-bottom: 20px;
}

.container {
  max-width: 1500px;
  margin: auto;
  padding: 0 30px;
  overflow: hidden;
}

/* Navbar */
#navbar {
  flex-shrink: 0;
  background: #1e1e1e;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.Logo {
  padding: 0.5rem;
  font-size: 20px;
}
.Login {
  padding: 0.5rem;
  font-size: 20px;
}
.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar ul li a {
  color: #fff;
  padding: 1rem;
  margin: 0 0.15rem;
  text-decoration: none;
  font-size: 15px;
}
#navbar .navbar ul li a:hover {
  color: #a6a001;
  border-radius: 5px;
  cursor: pointer;
}
#navbar .navbar ul li a:active {
  color: #a6a1015b;
  border-radius: 5px;
  cursor: pointer;
}

/* home page */
#home {
  background: linear-gradient(to left, #a6a1011f, #000);
  color: white;
}
.home {
  display: flex;
  justify-content: space-between;
}

#home .container .full_stack {
  margin: 150px;
  max-width: 50%;
}
#home .container .full_stack .hey {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 50px;
}
#home .container .full_stack .elyse {
  margin-bottom: 40px;
  font-size: 40px;
}
#home .container .full_stack .full {
  margin-top: 50px;
  font-size: 25px;
}
#home .container .full_stack .knowledge {
  margin-top: 20px;
  font-size: 15px;
}
.img img {
  margin-top: -50px;
  width: 550px;
  height: auto;
  transform: rotate(8.42deg);
  border-radius: 309px;
}
/* about me */
#About_Me {
  border: 1px solid rgba(180, 180, 180, 0);
  background: linear-gradient(to right, #a6a1011f, #000);
}
.about-me {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 50px;
}
.develop {
  width: 50%;
}
.Fullstack_developer {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  background: #1e1e1e;
  width: 400px;
  flex-shrink: 0;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  padding: 20px;
  font-size: 20px;
  margin-right: 100px;
  margin-left: 150px;
}
.mgT {
  margin-top: 120px;
  margin-bottom: 50px;
}
.Fullstack_developer a {
  color: #a6a001;
  margin-top: 20px;
}

.about {
  font-size: 30px;
  width: 50%;
}
.experienced {
  font-size: 15px;
  font-family: "Roboto Serif", serif;
  font-weight: 50;
  line-height: 30px;
  width: 600px;
  padding-top: 50px;
  padding-right: 30px;
}
/* skills */

#skills {
  background: rgba(55, 55, 52, 0.253);
  box-shadow: 0 4px 15px #a6a10193;
}
.skill1 {
  text-align: center;
  font-size: 50px;
  padding: 50px;
}
.skills {
  display: flex;
  justify-content: space-between;
}
.skillPar {
  border: #1e1e1e;
  width: 450.013px;
  height: 450.567px;
  flex-shrink: 0;
  background-color: #1e1e1e;
  stroke-width: 1px;
  stroke: #1e1e1e;
  padding: 80px 60px;
  border-radius: 35px;
  margin-left: 200px;
  line-height: 80px;
}

.skills-words {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 126%; /* 25.2px */
}
.skills-words a {
  color: #a6a001;
}
.btn {
  margin-top: 90px;
  display: flex;
  border: none;
  width: 200px;
  height: 35.74px;
  padding: 18.667px 42.667px;
  justify-content: center;
  align-items: center;
  gap: 10.667px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #a6a001;
  line-height: 150%;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.langauge {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 40px;
  margin-right: 10px;
}
.logoName {
  font-size: 20px;
}
.skillSide {
  transform: rotate(-90deg);
  /* color: #fff; */
  font-family: Poppins;
  font-size: 65.649px;
  font-style: normal;
  font-weight: 700;
  line-height: 126%; /* 82.718px */
  text-transform: uppercase;
  color: rgba(55, 55, 52, 0.507);
  margin-top: 200px;
}
.svg {
  width: 47px;
  height: 52px;
}

/* portfolio */
#Portfolio {
  display: flex;
}
.services1 {
  width: 150px;
  height: 50px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  color: #141313;
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 126%; /* 82.718px */
  text-transform: uppercase;
  margin-top: 300px;
  /* margin-bottom: 550px; */
}
.projectAll {
  display: flex;
  justify-content: center;
}
.project {
  border-radius: 20px;
  border: 1px solid #1e1e1e;
  background: #1e1e1e;
  margin-top: 40px;
  margin-left: 20px;
  padding: 30px;
  width: 350px;
  height: 350px;
}
/* footer */
#footer {
  background-color: #1e1e1e;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
.footer1 {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
  font-size: 15px;
}
.address {
  padding-top: 40px;
}
.name {
  padding-bottom: 20px;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pd {
  padding: 5px;
  width: 24px;
  height: 24px;
}

.footer2 {
  padding: 10px;
  border-top: 1px solid #3e3e3e;
  display: flex;
  text-align: centre;
  justify-content: center;
  font-size: 12.5px;
}
